body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: pink;
}
.nav_bar ul {
  margin: 0;
  padding: 3rem 0 0 0;
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}
.nav_bar ul a {
  font-size: larger;
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  color: white;
  background-color: pink;
  padding: 12px;
  border-style: double;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  padding-bottom: 3rem;
}
.intro-info {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
.round-image {
  width: 300px;
  height: 300px;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#gallery-title {
  text-align: center;
}
.grid-pics {
  width: 270px;
  height: 270px;
  object-position: center;
  object-fit: cover;
  padding: 0.5rem;
  transition: 0.5s ease;
}
.hover-pic {
  position: relative;
}
.hover-info {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.hover-pic:hover .hover-info {
  opacity: 1;
}
.hover-pic:hover .grid-pics {
  opacity: 0.3;
}

footer {
  color: white;
  font-weight: bold;
  margin-top: 1.2rem;
  padding-top: 3rem;
  padding-bottom: 5px;
  background-color: pink;
  text-align: center;
  font-size: 70%;
}
@media (min-width: 956px) {
  .intro-info {
    width: 756px;
  }
}
@media (max-width: 455px) {
  .nav_bar ul {
    align-items: space-around;
  }
  .round-image {
    width: 200px;
    height: 200px;
  }
  .intro-info {
    padding: 0;
  }
}
